body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin: 0px;
}
hr {
	border-left: none;
}
#main {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: left;
}
#menu {
	background-color: whitesmoke;
	border-right: 1px solid lightgray;
	display: flex;
	flex: 0 0 15%;
	flex-direction: column;
	padding: 20px 0 0 0;
}
.group:after {
	border-bottom: 1px solid lightgrey;
	content: "";
	display: block;
	margin: 10px 20px 10px 20px;
}
.group:last-child:after {
	border-bottom: none;
}
.group .header {
	font-weight: bold;
	line-height: 28px;
	padding: 0 20px 0 20px;
}
.group a {
	color: inherit;
	display: block;
	line-height: 28px;
	padding: 0 20px 0 20px;
	text-decoration: inherit;
}
.group a:hover {
	background-color: lightsteelblue;
}
#content {
	flex-basis: 85%;
	margin: 40px;
}
#content .title {
	font-size: 20px;
	margin-bottom: 20px;
}
.task {
	border: 1px solid lightgrey;
	border-top: none;
	overflow: auto;
	padding: 20px;
}
.task:first-child {
	border-top: 1px solid lightgrey;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.task:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.task .header {
	align-items: center;
	display: flex;
}
.task .header .status {
	margin-right: 10px;
	width: 14px;
}
.task .header .name {
	font-weight: bold;
}
.task.active {
	background-color: lemonchiffon;
}
.task .description {
	margin-top: 10px;
}
.task .process {
    background-color: whitesmoke;
    border-radius: 2px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    padding: 10px;
    font-family: monospace;
}
.task a {
	background-color: dodgerblue;
	border-radius: 2px;
	color: white;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 38px;
	margin-top: 20px;
	padding-left: 10px;
    padding-right: 10px;
	text-decoration: none;
}